<section>
  <h1>Navigating Nashville</h1>
  <p>To read or share information on our forum about the best way to navigate Nashville you must first log in to our site. 
   <div>
    Email: <input type="text" autofocus="true" ng-model="account.email" />
  </div>
  <br>
  <div>
    Password: <input type="password" ng-model="account.password" />
  </div>
  <br>
  <button ng-click="login()">Log In</button>
  <br><br>
  <button ng-click="register()">New to our site? Please Register Here</button>
</section>




